#logout
{
	font-size: 20px; 
	float: right;
}
.room_name
{
	cursor: pointer;
	font-size: 20px;
}
html, body
{
  height: 100%;
  margin: 0;
}
body
{
background-image: linear-gradient(to left top, #f60ade, #d8ba0e, #d84b98, #27852b, #cf4610ca);
}

.header
{
margin-top: 100px;
}